<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_card.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>新增名片</title>
  </head>
  <body>
  <div class="container pt-2">
    <form method='POST' action='/line/add_card'>
        <input id="line_user_id" type="hidden" name='line_user_id'>
        <input value="{{ data['image_path'] }}" type="hidden" name='image_path'>
        <div class="form-group">
            <label for="industry" class="required">產業類別</label>
            <select class="form-control" name="industry" required>
                <option></option>
                <option>資訊相關</option>
                <option>製造相關</option>
                <option>生物科技</option>
                <option>農業</option>
                <option>漁業</option>
                <option>房仲業</option>
                <option>公眾人物、專業人士</option>
                <option>餐飲</option>
                <option>購物、零售</option>
                <option>美容、沙龍</option>
                <option>學校</option>
                <option>娛樂、休閒相關</option>
                <option>生活相關服務</option>
                <option>醫療相關</option>
                <option>補習相關服務</option>
                <option>旅行社、旅館</option>
                <option>汽機車</option>
                <option>交通、租車</option>
                <option>婚禮相關</option>
                <option>法律、會計事務所</option>
                <option>銀行、保險、金融</option>
                <option>在地商家</option>
                <option>活動</option>
                <option>中央行政機關</option>
                <option>地方行政機關</option>
                <option>政黨</option>
                <option>企業、組織</option>
                <option>品牌、商品</option>
                <option>體育相關</option>
                <option>網站、部落格</option>
                <option>電視</option>
                <option>報章雜誌</option>
                <option>廣播</option>
                <option>其他</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name" class="required">名稱</label>
            <input class="form-control"
                name="name"
                type="text"
                value="{{ data['name'] }}"
                placeholder="你的名字" required>
        </div>
        <div class="form-group">
            <label for="nickname">暱稱</label>
            <input class="form-control"
                name="nickname"
                type="text"
                value="{{ data['nickname'] }}"
                placeholder="一個響亮的名稱，或許是內湖金城武">
        </div>
        <div class="form-group">
            <label for="title" class="required">職稱</label>
            <input class="form-control"
                name="title"
                type="text"
                value="{{ data['title'] }}"
                placeholder="工程師？或是攻城獅？或者是你的職稱" required>
        </div>
        <div class="form-group">
            <label for="summary" class="required">營業項目</label>
            <input class="form-control"
                name="summary"
                type="text"
                value="{{ data['summary'] }}"
                maxlength="20"
                placeholder="掃地兼撞鐘也說不定" required>
        </div>
        <div class="form-group">
            <label for="company_name" class="required">公司名稱</label>
            <input class="form-control"
                name="company_name"
                value="{{ data['company_name'] }}"
                placeholder="請輸入您的公司名稱" required>
        </div>
        <div class="form-group">
            <label for="tax_number">統一編號</label>
            <input class="form-control"
                name="tax_number"
                type="phone"
                pattern="[0-9]{8}"
                value="{{ data['tax_number'] }}"
                placeholder="請輸入您的統一編號">
        </div>
        <div class="form-group">
            <label for="email">電子信箱</label>
            <input class="form-control"
                name="email"
                type="email"
                value="{{ data['email'] }}"
                pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
                placeholder="hello@hello.com">
        </div>
        <div class="form-group">
            <label for="tel_number">公司電話</label>
            <input class="form-control"
                name="tel_number"
                type="phone"
                pattern="^\(?(\d{2})\)?[\s\-]?(\d{4})\-?(\d{4})$"
                value="{{ data['tel_number'] }}"
                placeholder="請在這輸入您的公司電話號碼" >
        </div>
        <div class="form-group">
            <label for="fax_number">公司傳真</label>
            <input class="form-control"
                name="fax_number"
                type="phone"
                pattern="[0-9]{8}"
                value="{{ data['fax_number'] }}"
                placeholder="請在這輸入您的公司傳真號碼" >
        </div>
        <div class="form-group">
            <label for="phone_number" class="required">聯繫電話</label>
            <input class="form-control"
                name="phone_number"
                type="phone"
                value="{{ data['phone_number'] }}"
                pattern="(^09\d{8}$)|(^\(?(\d{2})\)?[\s\-]?(\d{4})\-?(\d{4})$)"
                placeholder="請在這輸入您的個人聯繫電話號碼">
        </div>
        <div class="form-group">
            <label for="line_id">LINE@</label>
            <input class="form-control"
                name="line_id"
                type="text"
                pattern="@+[0-9A-Za-z]+"
                value="{{ data['line_id'] }}"
                placeholder="你也可以留下LINE@，但是記得加@">
        </div>
        <div class="form-group">
            <label for="address" class="required">公司地址</label>
            <input class="form-control"
                name="address"
                type="text"
                value="{{ data['address'] }}"
                placeholder="您的公司在哪？" required>
        </div>
        <div class="form-check">
            <input class="form-check-input"
                name="public"
                type="checkbox"
                checked>
            <label for="public"><b>公開名片</b>讓更多使用者找到你</label>
        </div>
        
        <button type="submit" class="btn btn-primary btn-lg btn-block">創建名片</button>
    </form>
<div class="pt-4">
    <small class="d-block mb-3 text-muted">創建名片，即代表同意 MiKA <button data-toggle="modal" data-target="#privacy" class="btn btn-link btn-sm">隱私權政策</button>，並授權名片資訊給 MiKA 收集，或是在合理範圍內使用您的資訊做分析應用</small>
</div>
<!-- Privacy Policy -->
<div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">隱私權政策</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <small>Effective date: January 30, 2019</small></br></br>
            <p>
            GoodLinker ("us", "we", or "our") operates the GoodLinker mobile application
            (hereinafter referred to as the "Service").</br></br>
            This page informs you of our privacy policy (“Privacy Policy”) regarding the
            collection, use, and disclosure of personal data when you use our Service and
            the choices you have associated with that data.</br></br>
            We use your data to provide and improve the Service. By using the Service,
            you agree to the collection and use of information in accordance with this policy.
            Unless otherwise defined in this Privacy Policy, the terms used in this Privacy
            Policy have the same meanings as in our Terms and Conditions.</br></br>
            </p>
            <h4>1. Information Collection</h4>
            <p>
            We collect the categories of information described as below for various
            purposes to provide and improve our Service to you.</br></br>
            (a) Types of Data Collected: user-provided information</br>
            <u>Personal Data</u></br></br>
            While using our Service, we may ask you to provide us with certain personally
            identifiable information that can be used to contact or identify you ("Personal
            Data"). Personal Data may include, but is not limited to: Email address, First
            name and last name, Phone number, and Address, State, Province, ZIP/Postal
            code City.</br></br>
            The Personal Data that you provide us are classified as C001 (Type for
            identifying individuals), C011 (Individual description), and C031 (Residence
            and facilities) in the Specific Purpose and the Classification of Personal
            Information of the Personal Information Protection Act (“Purpose and
            Classification”).</br></br>
            The purpose of collecting the Personal Data are(i) authenticating users, (ii)
            establishing and maintaining a responsible commercial relationship with you,
            (iii) understanding your needs and your eligibility for Services, (iv) informing you
            about trading and financing features, commercials, advertising materials, and
            other news, (v) providing services to you, (vi) conducting surveys and getting
            feedback from you, and (vii) meeting our the legal and regulatory requirements.
            The aforementioned purposes are classified as 040 (marketing (including
            financial cross-selling business)), 063 (non-government agency collect or
            process personal information under legal obligations), 069 (contract, contractlike or other legal relation matter), 090 (consumer, customer management and
            service), 135 (information (communication) services), 136 (information
            (communication) and database management), 137 (information
            (communication) security and management, 148 (internet shopping and other
            electronic commerce services)), 157 (investigation, statistics and research
            analysis), and 181 (other business operation in accordance with the business
            registration or bylaws) in the Purpose and Classification.</br></br>
            (b) Types of Data Collected: automatically collected information</br>
            <u>Usage Data, Tracking & Cookies Data</u></br></br>
            When you access the Service with a mobile device, we may collect certain
            information automatically, including, but not limited to, the type of mobile device
            you use, your mobile device unique ID, the IP address of your mobile device,
            your mobile operating system, the type of mobile Internet browser you use,
            unique device identifiers and other diagnostic data ("Usage Data").</br></br>
            We use cookies and similar tracking technologies to track the activity on our
            Service and hold certain information.</br></br>
            Cookies are files with small amount of data which may include an anonymous
            unique identifier (“Cookies Data”). Cookies are sent to your browser from a
            website and stored on your device. Tracking technologies also used are
            beacons, tags, and scripts to collect and track information and to improve and
            analyze our Service (“Tracking Data”).</br></br>
            You can instruct your browser to refuse all cookies or to indicate when a cookie
            is being sent. However, if you do not accept cookies, you may not be able to
            use some portions of our Service. You can learn more how to manage cookies
            in the <a href="https://privacypolicies.com/blog/how-to-delete-cookies/">Browser Cookies Guide.</a></br></br>
            </p>
            <p>
            <h4>2. Use of Data</h4>
            <p>
            GoodLinker may process and use the collected Personal Data, Usage Data,
            Tracking and Cookies Data for various purposes, including, but not limited to,
            the purposed described as the preceding paragraph and as below. Please note
            that one or more purposed may apply simultaneously.</br>
            <ul>
                <li>To provide and maintain the Service</li>
                <li>To notify you about changes to our Service</li>
                <li>To allow you to participate in interactive features of our Service when you</li>
            </ul>
            choose to do so</br>
            <ul>
                <li>To provide customer care and support</li>
                <li>To provide analysis or valuable information so that we can improve the</li>
            </ul>
            Service</br>
            <ul>
                <li>To monitor the usage of the Service</li>
                <li>To detect, prevent and address technical issues</li>
            </ul>
            </p>
            <h4>3. Transfer of Data</h4>
            <p>
            Your information, including Personal Data, Usage Data, Tracking and Cookies
            Data, may be transferred to, and maintained on, computers located outside of
            your state, province, country or other governmental jurisdiction where the data
            protection laws may differ than those from your jurisdiction. Under these
            circumstances, the governments, courts, law enforcement, or regulatory
            agencies of such data location may be able to obtain access to your personal
            information through foreign laws. Please note that the privacy standards of such
            data location may be lower that the jurisdiction in which you reside.</br></br>
            If you are located outside Taiwan and choose to provide information to us,
            please note that we transfer the data, including Personal Data, Usage Data,
            Tracking and Cookies Data, to Taiwan and process it there.</br></br>
            Your consent to this Privacy Policy followed by your submission of such
            information represents your agreement to that transfer.</br></br>
            GoodLinker will take all steps reasonably necessary to ensure that your data
            (including Personal Data, Usage Data, Tracking and Cookies Data) is treated
            securely and in accordance with this Privacy Policy and no transfer of your data
            will take place to an organization or a country unless there are adequate
            controls in place including the security of your data and other personal
            information.</br></br>
            </p>
            <h4>4. Disclosure of Data</h4>
            <p>
            GoodLinker does not sell, lease or otherwise disclose your data (including
            Personal Data, Usage Date, Tracking and Cookies Data) unless otherwise
            stated as below.</br></br>
            (a) Legal Requirements</br>
            GoodLinker may disclose your data in the good faith belief that such action is
            necessary to:</br>
            <ul>
                <li>To comply with a legal obligation</li>
                <li>To protect and defend the rights or property of GoodLinker</li>
                <li>To prevent or investigate possible wrongdoing in connection with the</li>
            </ul>
            Service</br>
            <ul>
                <li>To protect the personal safety of users of the Service or the public</li>
                <li>To protect against legal liability</li>
            </ul>
            (b) Consent</br>
            GoodLinker may disclose your data with your consent to do so.</br></br>
            (c) Service Providers</br>
            GoodLinker may share or transfer your data with Service Providers (as defined
            below) at our reasonable discretion, to facilitate your access to our Service and
            providing Service to you.</br></br>
            </p>
            <h4>5. Security of Data</h4>
            <p>
            The security of your data is important to us. While we strive to use commercially
            acceptable means to protect your data, we cannot guarantee that no method of
            transmission over the Internet, method of electronic storage is 100% secure, or
            your data is under absolute security.
            </p>
            <h4>6. Service Providers</h4>
            <p>
            We may employ third party companies and individuals to facilitate our Service
            ("Service Providers"), to provide the Service on our behalf, to perform Servicerelated services or to assist us in analyzing how our Service is used.</br></br>
            These third parties have access to your data (including Personal Data, Usage
            Data, Tracking and Cookies Data) only to perform these tasks on our behalf
            and are obligated not to disclose or use it for any other purpose.
            </p>
            <h4>7. Links To Other Sites</h4>
            <p>
            Our Service may contain links to other sites that are not operated by us. If you
            click on a third party link, you will be directed to that third party's site. We
            strongly advise you to review the privacy policy of every site you visit.</br></br>
            We have no control over and assume no responsibility for the content, privacy
            policies or practices of any third party’s sites or services. Please note that we
            are not responsible for the privacy policies and/or practices of any third party’s
            site.
            </p>
            <h4>8. Changes To This Privacy Policy</h4>
            <p>
            We may update our Privacy Policy from time to time. We will notify you of any
            changes by posting the new Privacy Policy on this page.</br></br>
            We will let you know via email and/or a prominent notice on our Service, prior
            to the change becoming effective and update the "effective date" at the top of
            this Privacy Policy.</br></br>
            You are advised to review this Privacy Policy periodically for any changes.
            Changes to this Privacy Policy are effective when they are posted on this page.
            By continuing using the Service after we have made modification of Privacy
            Policy, you are deemed to agree and consent to be bound by the modified
            Privacy.
            </p>
            <h4>9. Contact Us</h4>
            <p>
            If you have any questions about this Privacy Policy, please contact us:
            <ul>
                <li>By email: <a href="mailto:info@goodlinker.io">info@goodlinker.io</a></li>
            </ul>
            </p>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>

<!-- End Privacy Policy -->

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="container text-center">
            <small class="d-block mb-3 text-muted">MiKA © 2019 </small>
        </div>
    </footer>
</div>

    
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <!-- LINE liff js -->
  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>

  <!-- Include js file -->
  <script src="{{ url_for('static', filename='js/add_card.js') }}"></script>

  </body>
</html>
