<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/who_join_activity.css') }}">
    <title>誰參加活動</title>
</head>

<body>
<div class="container pt-2">
    {% if datas %}
    <div class="row">
        {% for data in datas %}
            <div class="col-4 pr-1 pb-3">
                <div class="card shadow-sm" id="userCard">
                    <div class="pl-3 pt-3">
                        <img src="{{ data['user_data']['pictureUrl'] }}" class="userPicture img-thumbnail rounded-circle center-block">
                    </div>
                    <div class="card-body">
                        <div class="card-body-display-name">
                            <h5 class="card-title flex-6">{{ data['user_data']['displayName'] }}</h5>
                        </div>
                        <div>
                            帶</i>&nbsp{{ data['companion'] }}&nbsp人
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
        {% if activity_is_end == false %}
            <div class="row">
                <div class="col-12">
                    <form method='POST' action='{{url_for('liff.line_edit_group_activity_companion')}}'>
                        <input id="line_user_id" type="hidden" name="line_user_id">
                        <input type="hidden" name="activity_id" value="{{ activity_id }}">
                        <div class="form-group">
                            <input class="form-control"
                                name="companion"
                                placeholder="有攜伴？你可以在這填寫人數"
                                type="number" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">送出編輯</button>
                    </form>
                </div>
            </div>
        {% endif %}
    {% else %}
        <p>此活動無人參加唷！！</p>
    {% endif %}
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container text-center">
        <small class="d-block mb-3 text-muted">MiKA © 2019 </small>
    </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- LINE liff js -->
<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>

<!-- Include js file -->
<script src="{{ url_for('static', filename='js/who_join_activity.js') }}"></script>

</body>
</html>
