<!DOCTYPE html>
<html lang="en">
<head>
  <title>MiKA DASHBOARD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my_order.css') }}">

</head>
<body>

<div class="container pt-2">
    
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item"><a class="nav-link" href="{{ url_for("admin.index", line_user_id=args['line_user_id'])}}">首頁</a></li>
        <li class="nav-item"><a class="nav-link active" href="{{ url_for("admin.card", line_user_id=args['line_user_id'])}}">公開名片</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for("admin.activity", line_user_id=args['line_user_id'])}}">公開活動</a></li>
    </ul>
    
    <table id="myTable" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">名稱</th>
      <th scope="col">公司名稱</th>
      <th scope="col">瀏覽</th>
      <th scope="col">關鍵字</th>
    </tr>
  </thead>
  <tbody>
  {% for card in cards %}
    <tr>
      <th scope="row">{{ card['id'] }}</th>
      <td>{{ card['name'] }}</td>
      <td>{{ card['company_name'] }}</td>
      <td>{{ card['view_count'] }}</td>
      <td>{{ card['description'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


  </div>
  
<footer class="pt-4 my-md-5 pt-md-5 bproduct-top">
    <div class="container text-center">
        <small class="d-block mb-3 text-muted">MiKA © 2019 </small>
    </div>
</footer>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<!-- Include js file -->
  <script src="{{ url_for('static', filename='js/admin_card.js') }}"></script>
</body>
</html>
