<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{{ url_for('static', filename='css/add_card.css') }}">
<title>新增活動</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>

<body>

<div class="container pt-2"> <!-- 置中用-->
<form class="validated" action="/line/add_activity" method="post"><!-- ACTION是往哪裡發送數據-->
    <input id="line_user_id" type="hidden" name='line_user_id'>


<div class="form-group"><label class="required" >活動名稱</label> <input type="text" class="form-control" name="title" required/><br/></div>
<div class="form-group"><label class="required">開始日期</label> <input id="start" type="date" class="form-control" name="start_date_at" required/><br/></div>
    <div id="endHelper1"></div>
<div class="form-group"><label class="required">開始時間</label> <input type="time" class="form-control" name="start_time_at" required/><br/></div>
<div class="form-group"><label class="required">結束日期</label> <input  id="end" type="date" class="form-control" name="end_date_at" required/><br/></div>
    <div id="endHelper"></div>
<div class="form-group"><label class="required">結束時間</label> <input type="time" class="form-control" name="end_time_at" required/><br/></div>
<div class="form-group"><label>主辦單位</label> <input type="text" class="form-control" name="organizer"/><br/></div>
<div class="form-group"><label class="required">活動地址</label> <input type="text" class="form-control" name="address" required/><br/></div>
<div class="form-group"><label>相關連結</label> <input type="text" class="form-control" name="rel_link"/><br/></div>
<div class="form-group"><label class="required">活動介紹</label> <br/><textarea name="description" rows="4" cols="32"  class="form-control" required></textarea> <br/></div>

  <center><button type="submit" class="btn btn-primary btn-lg btn-block">送出</button></center>
</form>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="container text-center">
            <small class="d-block mb-3 text-muted">MiKA © 2019 </small>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<!-- LINE liff js -->
  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>

  <!-- Include js file -->
  <script src="{{ url_for('static', filename='js/add_activity.js') }}"></script>
</body>
</html>