<!DOCTYPE html>
<html lang="en">
<head>
  <title>MiKA STORE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my_order.css') }}">

</head>
<body>

<div class="container pt-2">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item"><a class="nav-link active" href="{{ url_for("store.order_index", user_id=user['id'])}}">我的空間</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for("store.anime_store_index", user_id=user['id'])}}">名片動畫</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for("store.cosplay_store_index", user_id=user['id'])}}">名片角色</a></li>
  </ul>
  <br>

<input type="text" id="searchInput" onkeyup="search()" placeholder="搜尋購買紀錄">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.imgur.com/HwKPs3O.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/cvn122X.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/4XQMbq6.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">前一張</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">下一張</span>
  </a>
</div>
</br>
<input id="line_user_id" type="hidden" name='line_user_id'>

<h5>名片角色</h5>
<div class="row p-2">
  {% for cosplay in cosplay_dates %}
    <div class="col-4 target">
      <div>
        <a href="{{url_for('store.product_detail', user_id=cosplay['user_id'], product_id=cosplay['product_id'])}}"><img src="{{ url_for('static', filename=cosplay['demo_image_path']) }}" class="img-thumbnail"></a>
      </div>
      <div class="pt-2">
        <a href="{{url_for('store.product_detail', user_id=cosplay['user_id'], product_id=cosplay['product_id'])}}"><p class="text-sm-center">{{cosplay['name']}}</p></a>
      </div>
    </div>
  {% endfor %}
</div>
<hr>
<h5>名片動畫</h5>
<div class="row p-2">

  {% for anime in anime_dates %}
    <div class="col-4 target">
      <div>
        <a href="{{url_for('store.product_detail', user_id=anime['user_id'], product_id=anime['product_id'])}}"><img src="{{ url_for('static', filename=anime['demo_image_path']) }}" class="img-thumbnail"></a>
      </div>
      <div class="pt-2">
        <a href="{{url_for('store.product_detail', user_id=anime['user_id'], product_id=anime['product_id'])}}"><p class="text-sm-center">{{anime['name']}}</p></a>
      </div>
    </div>
  {% endfor %}
</div>

<div class="footer border-top">
    <div class="text-center">
        <small class="d-block mb-3 text-muted">MiKA © 2019 </small>
    </div>
</div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/my_order.js') }}"></script>
</body>
</html>
